@media (max-width: 1200px) {
    .films-cards {
        justify-content: center;
    }

    .main-title {
        /* text-align: center;
        width: 100%; */
        margin: 0 auto 50px;
    }

    .trailer {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.4962359943977591) 0%, rgba(9, 9, 121, 0.2049194677871149) 35%, rgba(5, 96, 179, 0.19931722689075626) 63%, rgba(0, 212, 255, 0.2049194677871149) 100%);
    }

    video {
        left: 0;
    }

    .trailer p {
        color: white;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 45px;
    }

    .header p {
        margin: 0 0 30px 0;
    }

    .btn {
        padding: 9px 30px;
        margin-right: 11px;
    }

}

@media (max-width: 570px) {
    .header-nav__list {
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        background: linear-gradient(90.09deg, #3700af7d 0%, #bf71047a 97.52%, #c2740071 100%, #c2740065 100%);
        gap: 50px;
        transform: translateY(-100%);
        transition: 500ms;
        z-index: 999;
    }

    .header-nav__list-link {
        font-size: 30px;
    }

    .burger {
        display: block;
    }

    .burger:hover~.header-nav__list {
        transform: translateY(0);
    }
    .header-nav{
        position: sticky;
        top: 0;
        z-index: 999;
        background: rgba(0, 0, 0, 0.504);
    }
    .header-content{
        background: url(https://m.media-amazon.com/images/M/MV5BZDg0OGM1NWEtNDEwOC00OTE2LTliZWEtNzg1MTZkNjFlMmNhXkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_FMjpg_UX1000_.jpg) rgba(7, 15, 25, 0.75);
        background-size: cover;
        background-position: center;
    }
    .trailer img{
        width: 100%;
    }
    .series-second__cards-mini div{
        width: 100%;
        height: 200px;
        background-position: center;
    }
}
@media (max-width: 404px) {
    .coll-cards__card{
        width: 100%;
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
    }
  .footer-content{
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
  }
  .footer a{
      margin-right: 5px;
  }
  h1{
      font-size: 30px;
  }
  .series-cards__main{
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%), url(https://wallup.net/wp-content/uploads/2016/12/07/135410-Game_of_Thrones-Ned_Stark-Sean_Bean.jpg);
  }
}