@media (max-width: 1800px){
    .section1>img 
    {
        width: 1400px;
    }
}
@media (max-width: 1400px){
    .absolute img
    {
        width: 800px;
    }

    .section1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .info-text p
    {   
        width: unset;
    }
}
@media (max-width: 1200px){
    .header-title
    {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        flex-wrap: wrap;
    }

    .header-info
    {
        padding-top:150px;
        flex-direction: unset;
    }

    .section1>img 
    {
        width: 1000px;
    }

    .absolute img
    {
        z-index: 500;
        width: 800px;
        animation: earth 100s infinite;
    }

    .absolute
    {
        z-index: 0;
        position: absolute;
        bottom: -250px;
        left: 120px;
    }

    .main h1
    {
        padding-top: 180px;
    }

    .bar-manu
    {
        display: flex;
        gap: 180px;
    }
}

@media (max-width: 1090px){
    .absolute img
    {
        width: 700px;
    }

    .section1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .bar-manu
    {
        display: flex;
        gap: 100px;
    }
}

@media (max-width:890px){
    .absolute img
    {
        width: 600px;
    }

    .section1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .main h1
    {
        padding-top: 250px;
    }

    .section1>img 
    {
        width: 500px;
    }
}
@media (max-width:830px){

    .section1>img 
    {
        width: 1000px;
    }

    .absolute img
    {
        margin-top: -1000px;
        width: 500px;
    }

    .header-title h1
    {
        font-size: 50px;
    }
    .header-title p
    {
        font-size: 18px;
    }
}
@media (max-width:780px){

    .bar-manu
    {
        display: flex;
        gap: 80px;
    }
    .section1>img 
    {
        width: 800px;
    }

    .absolute img
    {
        margin-top: -1000px;
        width: 500px;
    }

    .bar-manu
    {
        position: fixed;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.647);
        gap: 50px;
        transition: 0.5s;
        transform: translateX(100%);
    }

    .burger
    {
        display: block;
        padding:35px 20px 15px 20px;
    }

    
    .burger:hover ~ .bar-manu
    {
        display: flex;
        flex-direction: column;
        transform: translateX(0%);
        font-size: 20px;
        font-family: SR;
        line-height: 24px;
    }

}


@media (max-width: 700px){
    .absolute img
    {
        width: 500px;
    }

    .absolute
    {
        z-index: 0;
        position: absolute;
        bottom: -250px;
        left: 50px;
    }

    .bar-manu
    {
        display: flex;
        gap: 50px;
    }

}
@media (max-width: 600px){
    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 500px;
    }

    .absolute img
    {
        width: 400px;
    }

}
@media (max-width: 540px){

    .header-title p
    {
        width: unset;
    }

    .header-nav
    {
        padding: 10px 15px;
    }

    .section1>img 
    {
        width: 500px;
    }

    .bar-manu
    {
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.647);
        gap: 50px;
        transition: 0.5s;
        transform: translateX(100%);
    }

    .header-title h1
    {
        font-size: 35px;
    }
    .header-title p
    {
        font-size: 16px;
    }

    .burger
    {
        display: block;
        padding:35px 20px 15px 20px;
    }

    
    .burger:hover ~ .bar-manu
    {
        transform: translateX(0%);
        font-size: 20px;
        font-family: SR;
        line-height: 24px;
    }
}
@media (max-width:500px) {
    .absolute img
    {
        width: 300px;
    }
}
