@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);


*
{
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}



p
{
    margin-bottom: 0 !important;
}

.container
{
    max-width: 1240px;
    margin: 0 auto;
}

.absolute
{
    position: absolute;
    bottom: -250px;
    left: -250px;
}


.header-info
{
    padding-top: 300px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-title p
{
    width: 500px;
    color: white;
    font-size: 25px;
}

.header-title
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-title h1
{
    font-size: 80px;
    color: white;
}

.absolute img
{
    z-index: 500;
    width: 1000px;
    animation: earth 100s infinite;
}

@keyframes earth
{
    0%{
        transform: rotate(-360deg);
    }
}

.header-nav
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.logo
{
    color: white;
    font-size: 35px;
    transition: 0.5;
}

.nav
{
    display: flex;
    gap: 30px;
}

.nav-list-link
{
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.nav-list-link:hover
{
    color: aqua;
}


.header
{
    background: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

/*MAIN*/

.main
{
    height: 2000px;
    background: rgb(10,13,47);
background: linear-gradient(0deg, rgba(10,13,47,1) 19%, rgba(1,0,3,1) 100%);
}

.section1>img
{
    transform: rotateX(753deg);
    opacity: 0.5;
    z-index: 0;
    position: absolute;
    left: -250px    ;
    width: 1800px;
    top: -50px;
}

.section1
{
    position: relative;
    display: flex;
    gap: 30px;
    height: 90vh;
    
}

.main h1
{
    text-align: center;
    color: white;
    padding-top: 30px;
    font-size:45px;
}

.liner-section1
{
    z-index: 1;
    padding-top: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 50px;
    height: 80vh;
}


.liner1
{
    width: 500px;
    height: 15px;
    background: rgb(255, 255, 255);
}
.liner2
{
    width: 450px;
    height: 15px;
    background: rgb(255, 255, 255);
}
.liner3
{
    width: 400px;
    height: 15px;
    background: rgb(255, 255, 255);
}
.liner4
{
    width: 380px;
    height: 15px;
    background: rgb(255, 255, 255);
}
.liner5
{
    width: 350px;
    height: 15px;
    background: rgb(255, 255, 255);
}
.liner6
{
    width: 300px;
    height: 15px;
    background: rgb(255, 255, 255);
}
.liner7
{
    width: 280px;
    height: 15px;
    background: rgb(255, 255, 255);
}
.liner8
{
    width: 250px;
    height: 15px;
    background: rgb(255, 255, 255);
}
.liner9
{
    width: 230px;
    height: 15px;
    background: rgb(255, 255, 255);
}
.liner10
{
    width: 200px;
    height: 15px;
    background: rgb(255, 255, 255);
}

.liner1-1
{
    width: 700px;
    display: flex;
    color: white;
    font-size: 20px;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}



.liner1-1 img
{
    width: 50px;
}

.info img
{
    border-radius: 20px;
    width: 550px;
    height: 600px;
    
}

.info:hover
{
    box-shadow: 0 0 20px blue;
    transform: scale(1.1);
}

.info {
    flex-wrap: wrap;
    margin-top: 100px;
    width: 550px;
    height: 650px;
    border-radius: 6px;
    background: url(../img/Info.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    overflow: hidden;
    margin-left: 30px;
    padding-top: 120px;
    display: flex;
    transition: 0.5s;
}

.info-text
{
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 100px;
    color: white;
    font-size: 18px;
}

.info-text p
{
    width: 800px;
}

.burger
{
    color: white;
    display: none;
    font-size: 30px;
}
