@import url(fonts.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    user-select: none;
    font-family: CB;
    scroll-behavior: smooth;

}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px 0;
    gap: 24px;
}

.banner i {
    font-size: 50px;
}

.banner p {
    width: 166px;
    line-height: 18px;
    font-family: CR;
}

.header-nav {
    background: black;
    padding: 29px 0;
}

.header-nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.header-nav__list {
    display: flex;
    gap: 30px;
}

.header-nav__list-link {
    color: white;
    font-size: 14px;
    line-height: 17px;
    transition: 300ms;
    border-bottom: 2px solid #ed8e0000;
    padding-bottom: 42px;
    font-family: MR;
}

.logo {
    color: white;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
}

.header-nav__list-link:hover {
    color: #ED8E00;
    border-bottom: 2px solid #ed8e00;
    padding-bottom: 0;
}

.header-content {
    min-height: 100vh;
    display: flex;
    background: url(../img/header-bg.jpg) rgba(7, 15, 25, 0.75);
    background-blend-mode: darken;
    background-size: cover;

}

h1 {
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    font-family: MB;
}

.header p {
    line-height: 24px;
    text-align: justify;
    color: #C8C8C8;
    font-family: MR;
    max-width: 570px;
    margin: 25px 0 50px 0;
}

.btn {
    padding: 17px 48px;
    font-size: 14px;
    color: #000000;
    background: #F18128;
    border-radius: 4px;
    margin-right: 30px;
    font-family: RM;
}

.btn:hover {
    color: white;
    background: #040D1F;
}

.header-content__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.main-title {
    font-weight: 400;
    font-family: CR;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #F18128;
    margin-bottom: 48px;
    border-bottom: 2px solid #F18128;
    padding-bottom: 10px;
    width: max-content;
}

body {
    background: #040D1F;
}

.films-cards__card {
    width: 264px;
    height: 380px;
    border-radius: 6px;
    background: url(../img/card1.png);
    background-size: cover;
    position: relative;
    background-position: center;
    overflow: hidden;
}

.films-cards__card-text {
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0;
    left: 0;
    padding: 50px 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    opacity: 0;
    transition: 500ms;
}

.films-cards__card:hover .films-cards__card-text {
    opacity: 1;
}

.films span {
    margin: 13px 0 32px;
    font-family: MR;
    font-size: 14px;
    line-height: 10px;
    padding: 7px 28px;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 9px;
}

.films h3 {
    font-size: 22px;
    line-height: 27px;
    font-family: MR;
    font-weight: 400;
    margin-bottom: 13px;
}

.films p {
    font-family: RR;
    font-size: 14px;
    line-height: 21px;
}

.films-cards__card:nth-child(2) {
    background: url(../img/card2.png);
    background-position: center;
}

.films-cards__card:nth-child(3) {
    background: url(../img/card3.png);
    background-position: center;
}

.films-cards__card:nth-child(4) {
    background: url(../img/card4.png);
    background-position: center;
}

.films-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.films {
    padding: 60px 0 71px;
}

.trailer {
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    padding: 43px 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

video {
    position: absolute;
    z-index: -1;
    top: -17.5%;
    right: 0;
    height: 135%;
}

.trailer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 52.5px;
}

.trailer p {
    max-width: 550px;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    color: #000000;
    font-family: RR;
}

.coll-cards__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    width: 362px;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%), url(../img/coll-1.jpg);
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
    background-size: cover;
}

.coll h3 {
    margin-top: 16px;
    font-size: 20px;
    line-height: 22px;
    font-family: CB;
}

.coll-cards__card a {
    display: block;
    transition: 0.5s;
}

.coll-cards__card:hover a {
    transform: rotateX(360deg) scale(1.3);
}

.boxes-1,
.boxes-2 {
    display: block;
    transition: 700ms;
}

.boxes-1 {
    transform: translateY(-110%) rotateY(360deg);
}

.boxes-2 {
    transform: translateY(110%) rotateY(-360deg);
}

.coll-cards__card:hover .boxes-1,
.coll-cards__card:hover .boxes-2 {
    transform: translateY(0) rotateY(0);
}

.coll-cards__card:nth-child(2) {
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%), url(../img/coll-2.jpg);
    background-size: cover;
}

.coll-cards__card:nth-child(3) {
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%), url(../img/coll-3.jpg);
    background-size: cover;
}

.coll-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.coll {
    padding: 60px 15px;
}

.series-cards__main {
    text-align: center;
    color: white;
    padding: 103px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%), url(../img/series-1.jpg);
    border-radius: 6px;
    background-size: cover;
    margin-bottom: 30px;
    background-position: center;
}

.series-cards__main p {
    max-width: 1116px;
    line-height: 24px;
    font-family: CR;
}

.series-cards__main h3 {
    font-size: 40px;
    line-height: 45px;
}

.series-second__cards-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 143px 0 163px 0;
    color: white;
    gap: 30px;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%), url(../img/series-2.jpg);
    border-radius: 6px;
    width: 558px;
    background-size: cover;
    background-position: center;
}

.series-second__cards-mini div {
    width: 264px;
    padding: 45px 0 56px 0;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%), url(../img/series-3.jpg);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
    background-size: cover;
    transition: 500ms;
}

.series-second__cards-mini div:nth-child(2) {
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%), url(../img/series-4.jpg);
    background-size: cover;
}

.series-second__cards-mini div:nth-child(3) {
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%), url(../img/series-5.jpg);
    background-size: cover;
}

.series-second__cards-mini div:nth-child(4) {
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%), url(../img/series-6.jpg);
    background-size: cover;
}

.series-second__cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.series-second__cards-mini {
    display: flex;
    flex-wrap: wrap;
    width: 558px;
    gap: 20px 30px;
    justify-content: center;
}

.series-second__cards-mini div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

main {
    padding-bottom: 60px;
}

.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 24px 0;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    margin-right: 50px;
}

.burger {
    display: none;
    font-size: 30px;
    color: white;
}