@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);


*
{
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.header-nav-list
{
    position: fixed;
    top: 0;
    z-index: 520;
    width: 100%;
    background-color: rgba(10, 10, 43, 0.631);
}

p
{
    margin-bottom: 0 !important;
}

.container
{
    max-width: 1240px;
    margin: 0 auto;
}

.absolute
{
    position: absolute;
    bottom: -250px;
    left: -250px;
}


.header-info
{
    padding-top: 300px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-title p
{
    width: 700px;
    color: white;
    font-size: 25px;
}

.header-title
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-title h1
{
    font-size: 80px;
    color: white;
}

.absolute img
{
    z-index: 500;
    width: 1000px;
    animation: earth 100s infinite;
}

@keyframes earth
{
    0%{
        transform: rotate(-360deg);
    }
}

.header-nav
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.logo
{
    color: white;
    font-size: 35px;
    transition: 0.5;
}

.nav
{
    display: flex;
    gap: 30px;
}

.nav-list-link
{
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.nav-list-link:hover
{
    color: aqua;
}


.header
{
    background: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

/*MAIN*/

.main
{
    background: rgb(10,13,47);
    background: linear-gradient(0deg, rgba(10,13,47,1) 19%, rgba(1,0,3,1) 100%);
}

.section1>img
{
    transform: rotateX(753deg);
    opacity: 0.5;
    z-index: 0;
    position: absolute;
    left: -250px    ;
    width: 1800px;
    top: -50px;
}

.section1
{
    position: relative;
    display: flex;
    gap: 30px;
}

.main h1
{
    text-align: center;
    color: white;
    padding-top: 30px;
    font-size:45px;
}



.info img
{
    border-radius: 20px;
    width: 550px;
    height: 600px;
    
}

.info:hover
{
    box-shadow: 0 0 20px blue;
    transform: scale(1.1);
}

.info {
    flex-wrap: wrap;
    margin-top: 100px;
    width: 550px;
    height: 650px;
    border-radius: 6px;
    background: url(../img/Info.jpg);
    background-size: cover;
    position: relative;
    background-position: center;
    overflow: hidden;
    margin-left: 30px;
    padding-top: 120px;
    display: flex;
    transition: 0.5s;
}

.info-text
{
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 100px;
    color: white;
    font-size: 18px;
}

.info-text p
{
    width: 800px;
}

.burger
{
    color: white;
    display: none;
    font-size: 30px;
}

.news_card1
{
    flex-grow: unset;
    max-width: 300px;
    border-radius: 8px;
    border: 1px solid #dfd8c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px;
    transition: 0.5s;
}

.news_card1:hover
{
    transform: scale(1.05);
    box-shadow: 0 0 15px blue;
}

.news_card1 img
{
    width: 280px;
    border-radius: 20px;
    padding: 10px 15px;
}

.news_card1 a
{
    color: white;
    background-color: blue;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 8px;
}

.new p
{
    margin: 0 !important;
    width: 260px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news h1
{
    color: white;
    text-align: center;
    margin-top: 50px;
    padding: 10px 10px;
}

.news_cards
{
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 25px;
}

.news_cards h5
{
    color: white;
    padding-bottom: 10px;
}
.news_cards p
{
    color: white;
}
.news_cards span
{
    padding-top: 20px;
    color: white;
    font-size:16px;
    text-align: left;
}

.sot-seti
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.sot-seti a
{
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.news
{
    padding-bottom: 50px;
}